/* Base Style */

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

h1 {
    text-decoration: none;
    font: 600;
    color: white;
}

h2 {
    text-decoration: none;
    font: 300;
    color: green;
}

h3 {
    text-decoration: none;
    font: 300;
    color: blue;
}

.normaltext {
    color: darkred;
    font-size: initial;
}


/* Header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    background: transparent;
}

.header1text {
    position: center;
    text-align: center;
    padding-left: 550px;
}

.inside {
    padding: 229px 4px 205px 0px;
}

.header2text {
    padding-left: 550px;
}

/* Descrizione */

.descr {
    background-color: darkslategray;
    padding: 10px 10px 2px 10px;
    height: 300px;
}

.download {

}